# Project exclude paths
/.gradle/
/Simple Banking System/task/build/
/Simple Banking System/task/out/production/classes/
/Simple Banking System/task/out/test/classes/
/Topics/Branching statements/The sequence/out/
/Topics/Branching statements/The sequence/out/production/classes/
/Topics/Branching statements/Theory/out/
/Topics/Branching statements/Theory/out/production/classes/
/Topics/Constructor/Account/out/
/Topics/Constructor/Account/out/production/classes/
/Topics/Constructor/Geometric cube/out/
/Topics/Constructor/Geometric cube/out/production/classes/
/Topics/Constructor/Theory/out/
/Topics/Constructor/Theory/out/production/classes/
/Topics/Defining classes/Inner boxes/out/
/Topics/Defining classes/Inner boxes/out/production/classes/
/Topics/Defining classes/Theory/out/
/Topics/Defining classes/Theory/out/production/classes/
/Topics/Inheritance/Classes for Hospital/out/
/Topics/Inheritance/Classes for Hospital/out/production/classes/
/Topics/Inheritance/Theory/out/
/Topics/Inheritance/Theory/out/production/classes/
/Topics/Instance methods/Counter/out/
/Topics/Instance methods/Counter/out/production/classes/
/Topics/Instance methods/Theory/out/
/Topics/Instance methods/Theory/out/production/classes/
/Topics/Iterating over arrays/The minimum value of an array/out/
/Topics/Iterating over arrays/The minimum value of an array/out/production/classes/
/Topics/Iterating over arrays/Theory/out/
/Topics/Iterating over arrays/Theory/out/production/classes/
/Topics/Package/Binary search/out/
/Topics/Package/Binary search/out/production/classes/
/Topics/Package/Sorting arrays/out/
/Topics/Package/Sorting arrays/out/production/classes/
/Topics/Package/Theory/out/
/Topics/Package/Theory/out/production/classes/
/Topics/The main method/Print "We are robots!"/out/
/Topics/The main method/Print "We are robots!"/out/production/classes/
/Topics/The main method/Theory/out/
/Topics/The main method/Theory/out/production/classes/